.main
    height: 100%
    width: 100%
    display: flex
    flex-direction: row
    align-items: stretch
    overflow: hidden
    > div
        transition: 250ms width ease
        height: 100%
    .main-list
        width: 67vw
        pointer-events: none;
        opacity: 0.5
        overflow: auto
    .main-form
        background: #FFF
        overflow-y: auto
        box-shadow: 0 0 20px rgba(0,0,0,0.3)
        border-left: 1px solid #CCC
        width: 33vw

        .MuiBox-root, .MuiDivider-root
            margin: 0 0 1.5em 0
            text-align: center
        .MuiAvatar-root
            text-align: center
        .box-avatar
            display: flex
            justify-content: center
        .box-close
            text-align: right
            * 
                font-size: 3em
                font-weight: 100
                cursor: pointer
            

    &.list
        .main-list
            width: 100vw
            pointer-events: auto;
            opacity: 1
        .main-form
            box-shadow: none
            width: 0vw



