.list-component
    display: flex
    flex-direction: column
    &.count-0
        align-items: center
        justify-content: center
        height: 100%
    .list-grid-cards
        display: grid
        grid-template-columns: repeat(auto-fit, minmax(220px, 1fr))
        grid-gap: 2em
    .list-options-bar
        text-align: center
        padding: 2em 0
        display: flex
        justify-content: space-between
        align-items: center
        align-content: center
        .list-options-bar-pagination
            display: flex
            align-items: center
            align-content: center
            p
                padding: 0 2em

